body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  direction: rtl;
}

input, button {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#chatBox {
  border: 1px solid #ccc;
  height: 300px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  overflow-y: scroll;
  background: #fff;
  padding: 10px;
  text-align: left;
}

#roomHeader {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
}

#activeUsers {
  font-size: 14px;
  color: #333;
}

#typingStatus {
  font-style: italic;
  color: #888;
  margin-bottom: 5px;
}
